/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-feb-2017, 0:55:18
    Author     : salva
*/

a.back {
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
}

body {
    min-width: 320px;
}


@media(max-width:380px){
    #fork {
        display:none;
    }
    .container {
        width:100%;
        min-width: 320px;
    }
}

/* https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {to {transform: rotate(360deg);}}
.spinner:before {content: '';box-sizing: border-box;position: absolute;top:50%;left:50%;width:50px;height:50px;margin-top:-10px;margin-left:-10px;border-radius:50%;border:2px solid #ccc;border-top-color: #333;animation:spinner .6s linear infinite;}
