<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Simple Movie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- build:css -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">        
        <link rel="stylesheet" href="./css/style.css">
        <!-- endbuild -->
    </head>
    <body>        
        
        <a id="fork" href="https://github.com/salvacam/simpleMovie"><img style="z-index: 1; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        <div class="container">
            <h2>Simple Movie</h2> 

            <div class="spinner" id="spinnerDiv"></div>
            <ul id="list-directors" class="list-group"></ul>
            <div id="main-director"></div>
            <div class="alert alert-danger hide" id="error">
                <strong>Error</strong> al obtener los datos, recarge la aplicación.
            </div>
            <div class="alert alert-danger hide" id="errorDirector">
                <strong>Error</strong> al obtener los datos, se redirigirá automáticamente a la pantalla de inicio.
            </div>
            <div class="alert alert-danger hide" id="errorPost">
                <strong>Error</strong> al insertar los datos.
            </div>
        </div>
        
        <script type="text/template" id="directorTemplate">
            <a href='/director/new'>New Directors</a>
            <a class="back" href='/'>All Directors</a>
            <div class="jumbotron">
                <h3><%= name %></h3>
                <%= nationality %>
            </div>
        </script>
        
        <script type="text/template" id="directorFormTemplate">
            <a href="/">All Posts</a><br />
            <input type="text" id="directorName" placeholder="director name" maxlength="100"/>
            <br />
            <input type="text" id="directorNationality" placeholder="director nationality" maxlength="50"/>
            <br />
            <button id="submitDirector"> Add </button>
        </script>
        
        <script type="text/template" id="movieView">
            <hr/>
            <p><strong><%= movie %></strong> film on: <%= year %> </p>
        </script>
        
        <script type="text/template" id="movieFormView">
            <input type="text" id="movieName" placeholder="movie" maxlength="50"/><br />            
            <input type="number" id="movieYear" placeholder="year" min="1900" max="2150" /><br />
            <button id="submitMovie"> Add </button>
        </script>
        
        <!-- build:js -->
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/underscore-min.js"></script>
        <script src="./js/backbone-min.js"></script>
        <script src="./js/app.js"></script>        
        <!-- endbuild -->
    </body>
</html>
